@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
body {
  font-family: Quicksand, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  width: 98vw;
  background-color: black;
  background-image: url("/img/background_blue.jpg");
  background-repeat: no-repeat; }

#container {
  position: absolute;
  width: 88.2vw;
  height: 95vh;
  padding: 0 1vw 0 1vw;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

#seed_form {
  text-align: center;
  width: 100%; }

#seed_question {
  font-family: "Varela Round";
  color: #c0e8ff;
  text-shadow: 2px 1px #206890;
  margin-top: -40px;
  margin-bottom: 30px;
  font-size: 4em; }

input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

input:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  -webkit-transition: box-shadow linear 0.4s;
  -moz-transition: box-shadow linear 0.4s;
  -ms-transition: box-shadow linear 0.4s;
  -o-transition: box-shadow linear 0.4s;
  transition: box-shadow linear 0.4s; }

#seed_input {
  text-align: center;
  background: none;
  border: none;
  color: white;
  font-size: 3.5em; }

th {
  text-align: left; }

#gallery {
  background-color: #0d0d0d;
  height: 90.25vh;
  width: 67.62vw;
  text-align: left;
  padding: 2vh;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

#photo {
  background-color: black;
  width: 51.94vw;
  height: 71.25vh;
  text-align: center;
  position: absolute;
  left: 2vh;
  overflow: hidden; }

#image {
  height: 100%;
  width: auto; }

#tags {
  background-color: black;
  height: 71.25vh;
  width: 14.7vw;
  position: absolute;
  right: 2vh; }

#reflections {
  background-color: black;
  width: 66.64vw;
  height: 16.15vh;
  position: absolute;
  bottom: 2vh;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1vh; }

.reflection {
  width: 17.1vh;
  height: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 70%;
  padding: 1vh;
  display: inline-block; }
