// FONTS

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

// MIXINS

@import '__border_radius';
@import '__background_size';
@import '__background_image';
@import '__transition';

// PARTIALS

// CONSTANTS

$FONT_STACK: Quicksand, Helvetica, sans-serif;
$HEADER_FONT: "Varela Round";
$BACKGROUND_COLOR: #000000;
$TEXT_COLOR: #FFFFFF;
$HEADER_COLOR: #C0E8FF;
$SITE_WIDTH: 98vw;
$SITE_HEIGHT: 95vh;
$FONT_SIZE: 18px;

// MAIN CSS

body {
  font-family: $FONT_STACK;
  font-size: $FONT_SIZE;
  color: $TEXT_COLOR;
  width: $SITE_WIDTH;
  background-color: $BACKGROUND_COLOR;
  background-image: url('/img/background_blue.jpg');
  background-repeat: no-repeat;
}

#container {
  position: absolute;
  width: $SITE_WIDTH * 0.9;
  height: $SITE_HEIGHT;
  padding: 0 1vw 0 1vw;
  @include border-radius(10px);
}

#seed_form {
  text-align: center;
  width: 100%;
}

#seed_question {
  font-family: $HEADER_FONT;
  color: $HEADER_COLOR;
  text-shadow: 2px 1px #206890;
  margin-top: -40px;
  margin-bottom: 30px;
  font-size: 4em;
}

input {
  @include border-radius(5px);
}

input:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  @include transition(box-shadow linear 0.4s);
}

#seed_input {
  text-align: center;
  background: none;
  border: none;
  color: $TEXT_COLOR;
  font-size: 3.5em;
}

th {
  text-align: left;
}

#gallery {
  background-color: lighten($BACKGROUND_COLOR, 10%);
  height: $SITE_HEIGHT * 0.95;
  width: $SITE_WIDTH * 0.75;
  text-align: left;
  padding: 2vh;
  position: relative;
  @include border-radius(10px);
}

#photo {
  background-color: $BACKGROUND_COLOR;
  width: $SITE_WIDTH * 0.59;
  height: $SITE_HEIGHT * 0.74;
  text-align: center;
  position: absolute;
  left: 2vh;
  overflow: hidden;
}

#image {
  height: 100%;
  width: auto;
}

#tags {
  background-color: $BACKGROUND_COLOR;
  height: $SITE_HEIGHT * 0.74;
  width: $SITE_WIDTH * 0.15;
  position: absolute;
  right: 2vh;
}

#tags_list {
  list-style: none;
}

.tag {
  color: #8E8E8E;
  cursor: pointer;
  padding-bottom: 3px;
}

#reflection_container {
  background-color: $BACKGROUND_COLOR;
  width: $SITE_WIDTH * 0.74;
  height: $SITE_HEIGHT * 0.17;
  position: absolute;
  bottom: 2vh;
  overflow: hidden;
  padding: 1vh;
}

#reflection {
  font-size: 150%;
  font-style: italic;
  padding: 1vh;
  text-align: center;
}
