<div class="script">
<script>
  preloads = <%= @moments %>
  var tempImg = []

  for (var x = 0; x < preloads.length; x++) {
      tempImg[x]     = new Image()
      tempImg[x].src = preloads[x]
  }

  tempImg.shift();

  $(document).ready(function(){
    current_image_index = 0;
    $('#image').attr("src", tempImg[0].src);
    center("#reflection");
  });
</script>
</div>