<div class="script">
  <script>
    preloads = <%= @moments %>
    var tempImg = []

    for(var x=0;x<preloads.length;x++) {
        tempImg[x] = new Image()
        tempImg[x].src = preloads[x]
    }

  </script>
</div>