<script>
  preloads = <%= @moments %>
  var tempImg = []

  for (var x = 0; x < preloads.length; x++) {
      tempImg[x]     = new Image()
      tempImg[x].src = preloads[x]
  }

  tempImg.shift();

  $(document).ready(function(){
    current_image_index = 0;
    $('#image').attr("src", tempImg[0].src);
    center("#reflection");
  });
</script>

<div id="container">
  <section id="gallery">
    <div id="photo">
      <img id="image" src="">
    </div>

    <div id="tags">
      <ul id="tags_list">
        <li class="tag">happy</li>
        <li class="tag">sad</li>
        <li class="tag">blue</li>
        <li class="tag">fire</li>
        <li class="tag">orange</li>
      </ul>
    </div>

    <div id="reflection_container">
      <span id="reflection">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    </div>
  </section>
</div>