<script>var moments = <%= @moments %></script>
<div class="container">
  <section class="gallery">
    <div class="photo">
    <img src="<%# @photo.url%>" alt="<%# @photo.title %>">
    </div>
    <button class="nextPhoto">Next</button>
  </section>
</div>