<div class="container">
  <h1>Welcome</h2>
    <form action="/gallery" method="get">
      <input type="text" name="tag_search" placeholder="experience">
      <button type="submit">Begin</button>
    </form>
</div>
