<div id="container">
  <div id="seed_form">
    <div id="seed_question">How are you feeling right now?</div>
    <form action="/gallery" method="get">
      <input id="seed_input" type="text" name="tag_search">
    </form>
  </div>
</div>
